<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.10.11092" />
  <package id="SharpTestsEx" version="1.1.1" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="clrzmq2" version="2.0.10.2010112000" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Machine.Specifications" version="0.4.23.0" />
</packages>