<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clrzmq" version="3.0.0-alpha1" />
  <package id="Fleck" version="0.8.2.1" />
  <package id="Ix_Experimental-Main" version="1.1.10823" />
  <package id="Machine.Specifications" version="0.4.23.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RabbitMQ.Client" version="2.8.1" />
  <package id="Rx_Experimental-Main" version="1.1.11111" />
  <package id="SharpTestsEx" version="1.1.1" />
</packages>